{% extends "layout.html" %}
{% import "_macros.html" as macros %}

{% block content %}
{{super()}}
{% endblock %}

{% block blog %}

    {%for post in posts%}

        <div class="page-content">
            <strong><a  href={{url_for('main.article',id=post.id)}}>{{post.title}}</a></strong>
            <div class="page-header">
            <p>{{ post.body|safe }}</p>
                </div>
        </div>

    {% endfor %}

<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endblock %}

